@{
    ViewData["Title"] = "Unauthorized";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-1">401</h1>
            <h2 class="display-4">Unauthorized</h2>
            <p class="lead">You do not have permission to access this resource.</p>
            <p>Please log in with appropriate credentials.</p>
            <a href="@Url.Action("Login", "Account")" class="btn btn-primary mt-3">Go to Login</a>
            <a href="@Url.Action("Index", "Home")" class="btn btn-secondary mt-3">Go to Home</a>
        </div>
    </div>
</div>

