<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
<body>
    <h1>Password Reset</h1>

    <div>
        <label for="email" style="display: block" id="emailLabel" style="display: block">Email:</label>
        <input type="email" id="email" name="email" required style="display: block"><br>

        <label for="code" style="display: block" id="codeLabel" style="display: block">Verification Code:</label>
        <input type="text" id="code" name="code" required style="display: block"><br>

        <button type="button" class="entry-data" id="verify-code" style="display: block">Verify Code</button>
    </div>
   
        <div>
        <label for="newPassword" id="newPasswordLabel" style="display: none">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required style="display: none"><br>

        <label for="confirmPassword" id="confirmPasswordLabel" style="display: none">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required style="display: none"><br>

        <button type="button" class="Reset-Password" id="reset-password" style="display: none">Reset Password</button>
        </div>
</body>
<script src="~/js/Account/VerifyCode.js"></script>
</html>
