@model ProjectOnProjects.BusinessLogic.Implementation.Account.Models.UserModelEdit

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Profil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/Account/Edit.css"/>
</head>
<body>

    <div class="container">
        <div class="header">
            <h1>Editare Profil</h1>
        </div>

        <hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Prenume</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label">Nume</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BirthDay" class="control-label">Data Nașterii</label>
                <input asp-for="BirthDay" class="form-control" type="date" />
                <span asp-validation-for="BirthDay" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProfileDescription" class="control-label">Descriere Profil</label>
                <input asp-for="ProfileDescription" class="form-control" />
                <span asp-validation-for="ProfileDescription" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Salvează" class="btn btn-primary" />
            </div>
        </form>

        <div class="form-group text-center">
            <a asp-action="EditAddress" asp-route-userId="@Model.Id" class="btn btn-secondary">Editează Adresa</a>
        </div>

        <div class="text-center">
            <a asp-action="Index" class="back-button">Înapoi la Listă</a>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
</html>
