@model MoneyShop.BusinessLogic.Implementation.BacDocumentService.Models.BacDocumentsViewModel

@{
    ViewData["Title"] = "BAC Documents";
}

<div class="container">
    <h2>BAC Documents</h2>
    <div class="row">
        <div class="col-md-4">
            <h3>Română</h3>
            <ul class="list-group">
                @foreach (var doc in Model.RomanianDocuments)
                {
                    <li class="list-group-item">
                        <a href="~/docs/@doc" download>@doc</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Matematică</h3>
            <ul class="list-group">
                @foreach (var doc in Model.MathDocuments)
                {
                    <li class="list-group-item">
                        <a href="~/docs/@doc" download>@doc</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Fizică / Info</h3>
            <ul class="list-group">
                @foreach (var doc in Model.PhysicsInfoDocuments)
                {
                    <li class="list-group-item">
                        <a href="~/docs/@doc" download>@doc</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>